{
  "customizations": {
    "vscode": {
      "extensions": [
        "streetsidesoftware.code-spell-checker"
      ],
      "settings": {
        "editor.rulers": [
          100
        ]
      }
    }
  }
}
